name: CI-CD Pipeline

on:
  push:
    branches:
      - main   # change if your branch name is different

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend Image
        run: |
          docker build -t vaishnavipachpande/backend:latest ./backend
          docker push vaishnavipachpande/backend:latest

      - name: Build Frontend Image
        run: |
          docker build -t vaishnavipachpande/frontend:latest ./frontend
          docker push vaishnavipachpande/frontend:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd mean-app
            docker-compose down
            docker pull vaishnavipachpande/backend:latest
            docker pull vaishnavipachpande/frontend:latest
            docker-compose up -d
